:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  position: relative;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  background-color: #006266 !important;

  .ant-menu {
    background-color: #006266 !important;

    .ant-menu-item {
      color: #fff;
    }

    .ant-menu-item-selected {
      background-color: #2d3436;
    }
  }
}

.trigger:hover {
  color: #006266;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  // padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  background-color: #006266 !important
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.app-header {
  height: 64px;
  padding: 0 24px;
  background: #fff;

  .icon-trigger {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
  }

  .member__box {
    gap: 10px;
    margin-left: 16px;
    color: #006266;
    font-size: 18px;

    &--name {
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right
    }

    &--avatar>span {
      border: 2px solid #006266;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .language_box{
    width: 120px;
  }
}

nz-content {
  margin: 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  margin: 0 auto;
}

.close-trigger {
  background-color: #006266;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 14px;
  transition: all .2s;
  cursor: pointer;

  span {
    font-size: 20px;
    color: #fff;
  }
}

.show-trigger {
  left: 200px;
}

.hide-trigger {
  left: 0
}

@media only screen and (max-width: 992px) {
  nz-sider {
    position: absolute !important;
  }
}
