@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
  font-size: 16px;

  // Custom Button
  .ant-btn {
    border-radius: 5px;

    &-primary {
      background-color: rgb(0, 98, 102);
      border-color: rgb(0, 98, 102);

      &:focus,
      &:hover {
        color: #fff;
        border-color: rgb(0, 98, 102, 0.9);
        background: rgb(0, 98, 102, 0.9);
      }
    }
  }

  // Custom Input
  .ant-input-affix-wrapper {
    border-radius: 10px;
  }
}
