@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
  font-size: 16px;

  // Custom Button
  .ant-btn {
    border-radius: 10px;

    &-primary {
      background-color: #2ecc71;
      border-color: #2ecc71;

      &:focus,
      &:hover {
        color: #fff;
        border-color: #27ae60;
        background: #27ae60;
      }
    }
  }

  // Custom Input
  .ant-input-affix-wrapper {
    border-radius: 10px;
  }
}
